html, body{
    height:100%;
    font-size: 1rem;
    background:black;
}

.gradient{
    background: rgb(2,0,36);
background: linear-gradient(146deg, rgba(2,0,36,1) 0%, rgba(142,14,14,1) 69%, rgba(131,24,24,1) 85%, rgba(255,0,0,0.9948354341736695) 100%);
}

.page-header{
    margin-top:4rem;
    font-size:1.25rem;
    color:crimson;
    font-family: 'Kanit', sans-serif;
}

